<html>
    <head>
        {% if title %}
            <title>{{title}} - microblog</title>
        {% else %}
            <title>microblock</title>
        {% endif %}
    </head>
    <body>
        |<span>Microblog: <a href="{{url_for('index')}}">Home</a></span>
        {% if g.user.is_authenticated() %}
            |<span><a href="{{url_for('logout')}}">Logout</a></span>
        {% else %}
            |<span><a href="{{url_for('login')}}">Login</a></span>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>